PYTHON BASIC VARIABLES

Swapping of variables

In [10]:
x = 56

In [11]:
y = 23

In [12]:
x = x + y

In [13]:
x

79

In [14]:
y = x - y

In [15]:
y

56

In [16]:
x = x - y

In [17]:
x

23

Calculation of area of rectangle

In [2]:
l = input()

 25

In [3]:
w = input()

 20

In [13]:
#area of rectangle
l*w

2080

Conversion of temperature from Celsius to Fahreneit

In [22]:
# c=celcius
c = float(input('tempearture in celcius'))

tempearture in celcius 37

In [23]:
# f=fahrenheit
f = (c*1.8) + 32

In [24]:
f

98.60000000000001

STRING BASED QUESTION

Length of string

In [8]:
s1 = str(input())

 Data science batch

In [9]:
print(len(s1))

18

Counting number of vowels in string

In [34]:
s3 = "Data science is the study of data to extract meaningful insights for business."

In [83]:
cnt = 0
i = 0

In [104]:
for i in s3:
    if(i == 'a' or i == 'e' or i == 'i' or i == 'o' or i == 'u' or i == 'A' or i == 'E' or i == 'I' or i == 'O' or i == 'U'):
        cnt = cnt + 1

In [97]:
print("Number of vowels are:", cnt)

Number of vowels are: 24

Reverse String

In [110]:
s4 = "Physics Wallah data science institute"

In [111]:
print(len(s4))

37

In [114]:
s4[37:-38:-1]

'etutitsni ecneics atad hallaW scisyhP'

Palindrome

In [15]:
s = input()

 malayalam

In [16]:
def isPalindrom(s):
    return s == s[::-1]
ans = isPalindrom(s)
if ans:
    print("yes")
else:
    print("no")

yes

Remove spaces from string

In [17]:
s5 = input()

 Python is a programming language

In [18]:
def remove(s5):
   return s5.replace(" ", "")
print(remove(s5))

Pythonisaprogramminglanguage