String based assignment

1. Reverse a string

In [ ]:
s1 = "this is my second python assignment"

In [ ]:
s1[::-1]

'tnemngissa nohtyp dnoces ym si siht'

2. Check if string is Palindrome

In [ ]:
def isPalindrome(s1): 
    return s1 == s1[::-1]
ans = isPalindrome(s1)
if ans:
    print("Yes")
else:
    print("No")

No

3. Convert string to Uppercase

In [ ]:
s1.upper()

'THIS IS MY SECOND PYTHON ASSIGNMENT'

4. Convert string to lowercase

In [ ]:
s1.lower()

'this is my second python assignment'

5. Count number of vowels

In [ ]:
cnt = 0
i = 0
for i in s1:
    if(i == 'a' or i == 'e' or i == 'i' or i == 'o' or i == 'u'):
        cnt = cnt + 1

In [ ]:
s1 = "this is my second python assignment"

In [ ]:
len(s1)

35

In [ ]:
print(cnt)

8

6. Count number of consonants

In [22]:
vowels = 0
consonants = 0
for i in s2:
    if(i == 'a' or i == 'e' or i == 'i' or i == 'o' or i == 'u'):
        vowels = vowels + 1
    else:
        consonants = consonants + 1

In [20]:
s2 = s1.replace(' ','')

In [21]:
s2

'thisismysecondpythonassignment'

In [23]:
print(consonants)

22

7. Remove white spaces

In [ ]:
s2 = s1.replace(' ','')

In [28]:
s2

'thisismysecondpythonassignment'

8. Length of string

In [ ]:
count = 0
for i in s1:
    count = count +1

In [24]:
print("Length of string:" ,count)

Length of string: 35

9. Check if string contains specific word

In [27]:
s1.find('s')

3

10. Replace a word in a string

In [26]:
s1.replace('is', 'are')

'thare are my second python assignment'

In [3]:
s3 = "This is python program. This program is helpful in data science."

11. Count the occurence of word in string

In [41]:
def countOccurences(s3, word):
    a = s3.split(" ")
    count = 0
    for i in range(0, len(a)):
        if (word == a[i]):
            count = count + 1
            return count
s3 = "This is python program and this program is helpful in data science."  
word = "program"
print(countOccurences(s3, word))

1

12.Find first occurence of word

In [45]:
def firstOccurence(s3, word):
    index = s3.find(word)
    if index == -1:
        return none
    return index
s3 = "This is python program and this program is helpful in data science."   
word = "python"
print(firstOccurence(s3, word))

8

13.Find the last occurence of word

In [50]:
def lastOccurence(s3, word):
    index = s3.rfind(word)
    return index
s3 = "This is python program and this program is helpful in data science."  
word = "program"
print(lastOccurence(s3, word))

32

14.Split a string into list of words

In [53]:
print(s3.split())

['This', 'is', 'python', 'program', 'and', 'this', 'program', 'is', 'helpful', 'in', 'data', 'science.']

15.Join a list of words into string

In [54]:
s4 = ["My", "name", "is", "Prajakta"]

In [57]:
print(" ".join(s4))

My name is Prajakta

16.Convert string separated by spaces to separted by underscore

In [58]:
s3.replace(" ", "_")

'This_is_python_program_and_this_program_is_helpful_in_data_science.'

17.Check if string starts with specific word or phrase

In [64]:
def starts_with(s3, prefix):
    is_start = s3.startswith(prefix)
    return is_start
prefix = "This"
result = starts_with(s3, prefix)
if result:
    print("The text starts with prefix.")
else:
    print("The text does not starts with prefix.")

The text starts with prefix.

18.Check if string ends with specific word or phrase

In [66]:
def ends_with(s3, suffix):
    is_ends = s3.endswith(suffix)
    return is_ends
suffix = "This"
result = ends_with(s3, suffix)
if result:
    print("The text ends with suffix.")
else:
    print("The text does not end with suffix.")

The text does not end with suffix.

19.Convert string to titlecase

In [67]:
print(s3.title())

This Is Python Program And This Program Is Helpful In Data Science.

20.Longest word in the string

In [68]:
def longest_word(s3):
    words = s3.split()
    longest_word = ""
    max_length = 0
    for word in words:
        if len(word) > max_length:
            max_length = len(word)
            longest_word = word
    return longest_word
print(longest_word(s3))

science.

21.Shortest word in the string

In [5]:
def find_shortest_word(s3):
    words = s3.split()
    shortest_word = None
    min_length = float('inf')
    for word in words:
        if len(word) < min_length:
            min_length = len(word)
            shortest_word = word
    return shortest_word
print(find_shortest_word(s3))

is

22.Reverse order of words in string

In [8]:
s4 = "This is python program and this program is helpful in data science"
s = s4.split()[::-1]
l = []
for i in s:
    l.append(i)
print(" ".join(l))

science data in helpful is program this and program python is This

23.Check if string is alphanumeric

In [11]:
s4.isalnum()

False

24.Extract all digits from string

In [22]:
s5 = "There are 2 apples for 4 people"
def extract_digits(s5):
    digits= ""
    for char in s5:
        if char.isdigit():
            digits += char
    return digits
print(extract_digits(s5))

24

25.Extract all alphabates from string

In [25]:
s5 = "There are 2 apples for 4 people"
def extract_alphabates(s5):
    alphabates = ' '.join([char for char in s5 if char.isalpha()])
    return alphabates
print(extract_alphabates(s5))

T h e r e a r e a p p l e s f o r p e o p l e

26.Count the number of uppercase letter in the string

In [26]:
s6 = "There are 2 Apples for 4 People"
def count_uppercase(s6):
    uppercase_count = sum(1 for char in s6 if char.isupper())
    return uppercase_count
print(count_uppercase(s6))

3

27.Count the number of lowercase in the string

In [27]:
def count_lowercase(s6):
    lowercase_count = sum(1 for char in s6 if char.islower())
    return lowercase_count
print(count_lowercase(s6))

20

28.Swap the case of each character in the string

In [28]:
s6.swapcase()

'tHERE ARE 2 aPPLES FOR 4 pEOPLE'

29.Remove a specific word from string

In [31]:
def remove_word(s6, word_to_remove):
    words = s6.split()
    filtered_words = [word for word in words if word != word_to_remove]
    modified_string = ' '.join(filtered_words)
    return modified_string
word_to_remove = "Apples"
print(remove_word(s6, word_to_remove))

There are 2 for 4 People

30.Check if string has valid email address

In [36]:
import re
email1 = "example@email.com"
email2 = "invalid-email"

def is_valid_email(email2):
    pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'
    if re.match(pattern, email2):
        return True
    else:
        return False
print(is_valid_email(email2))

False

31.Extract the username from the email string

In [37]:
def extract_username(email1):
    username = email1.split("@")[0]
    return username
print(extract_username(email1))

example

32.Extract the domain name from the email string

In [42]:
def extract_domain(eamil1):
    domain = email1.split("@")[1]
    return domain
print(extract_domain(email1))

email.com

33.Replace multiple spaces with single space

In [43]:
s7 = "My   name    is   Prajakta"
def replace_multiple_spaces(s7):
    cleaned_string = ' '.join(s7.split())
    return cleaned_string
print(replace_multiple_spaces(s7))

My name is Prajakta

34.Check if string has valod URL

In [48]:
from urllib.parse import urlparse

url1 = "https://www.example.com"
url2 = "invalid-url"
def is_valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc])
    except ValueError:
        return False
result1 = is_valid_url(url1)
result2 = is_valid_url(url2)
print(result1)
print(result2)

True
False

35.Extract the protocol from URL string

In [49]:
def extract_protocol(url1):
    protocol_end = url1.find("://")
    if protocol_end != -1:
        protocol = url1[:protocol_end]
        return protocol
    else:
        return None
print(extract_protocol(url1))

https

36.Find the frequency of each character in the string

In [50]:
s8 = "Data Science"
def character_frequency(s8):
    frequency = {} 
    for char in s8:
        if char in frequency:
            frequency[char] += 1
        else:
            frequency[char] = 1  
    return frequency
print(character_frequency(s8))

{'D': 1, 'a': 2, 't': 1, ' ': 1, 'S': 1, 'c': 2, 'i': 1, 'e': 2, 'n': 1}

37.Remove all punctuation from a string.

In [55]:
import string

s9 = "Wow! It's a data science pro batch. Isn't it amazing?"

def remove_punctuations(s9):
    translators = str.maketrans("", "", string.punctuation)
    clean_string = s9.translate(translators)
    return clean_string
print(remove_punctuations(s9))

Wow Its a data science pro batch Isnt it amazing

38.Check if a string contains only digits.

In [60]:
s10 = "12345"
s11 = "Python programming language"

s10.isdigit()

True

In [61]:
s11.isdigit()

False

39.Check if a string contains only alphabets.

In [62]:
s10.isalpha()

False

In [74]:
s12 = "Python"
s12.isalpha()

True

40.Convert a string to a list of characters.

In [75]:
list(s12)

['P', 'y', 't', 'h', 'o', 'n']

41.Check if two strings are anagrams.

In [76]:
def are_anagrams(str1, str2):
    str1 = str1.replace(" ", "").lower()
    str2 = str2.replace(" ", "").lower()
    return sorted(str1) == sorted(str2)
string1 = "listen"
string2 = "silent"
string3 = "hello"
string4 = "world"
result1 = are_anagrams(string1, string2)
result2 = are_anagrams(string3, string4)
print(f"'{string1}' and '{string2}' are anagrams:", result1)
print(f"'{string3}' and '{string4}' are anagrams:", result2)

'listen' and 'silent' are anagrams: True
'hello' and 'world' are anagrams: False

42.Encode a string using a Caesar cipher.

In [77]:
def caesar_cipher(text, shift):
  encoded_text = ""
  for char in text:
    if char.isalpha():
      encoded_char = chr((ord(char) + shift - ord('a')) % 26 + ord('a'))
    else:
      encoded_char = char
    encoded_text += encoded_char
  return encoded_text
text = "Hello, world!"
shift = 3

encoded_text = caesar_cipher(text, shift)
print("Encoded text:", encoded_text)

Encoded text: ehoor, zruog!

43.Decode a Caesar cipher encoded string.

In [ ]:
def caesar_cipher_decoder(text, shift):
    decoded_text = ""
    for char in text:
        if char.isalpha():
            decoded_char = chr((ord(char) - shift - ord('a')) % 26 + ord('a'))
        else:
            decoded_char = char
        decoded_text += decoded_char
    return decoded_text
text = "lopp, zruog!"
shift = 3
decoded_text = caesar_cipher_decoder(text, shift)
print("Decoded text:", decoded_text)

Decoded text: ilmm, world!

44.Most frequent word in a string

In [1]:
import re
from collections import Counter

s12 = "Hello python, how are you python."

def  most_frequent_word(s12):
    clean_string = re.sub(r'[^\w\s]', '', s12).lower()
    words = clean_string.split()
    word_counter = Counter(words)
    most_common_word = word_counter.most_common(1)[0][0]
    return most_common_word
print(most_frequent_word(s12))

python

45.Find all unique words in a string

In [2]:
import re

def unique_words(s12):
    clean_string = re.sub(r'[^\w\s]', '', s12).lower()
    words = set(clean_string.split())
    return words
print(unique_words(s12))

{'python', 'hello', 'how', 'you', 'are'}

46.Count the number of syllables in a string

In [4]:
import re
def count_syllables(word):
    vowel_groups = re.findall(r'[aeiouy]+', word, re.IGNORECASE)
    return len(vowel_groups)
word1 = "data"
word2 = "prajakta"
word3 = "number"
syllables1 = count_syllables(word1)
syllables2 = count_syllables(word2)
syllables3 = count_syllables(word3)
print(f"'{word1}' has {syllables1} syllables.")
print(f"'{word2}' has {syllables2} syllables.")
print(f"'{word3}' has {syllables3} syllables.")

'data' has 2 syllables.
'prajakta' has 3 syllables.
'number' has 2 syllables.

47.Check if a string contains any special characters

In [6]:
import re
def contains_special_characters(input_string):
    pattern = re.compile(r'[!@#$%^&*()_+{}\[\]:;<>,.?~\\/]')
    match = pattern.search(input_string)
    return bool(match)
string1 = "Hello, world!"
string2 = "This is a test"
string3 = "Special@Characters"
result1 = contains_special_characters(string1)
result2 = contains_special_characters(string2)
result3 = contains_special_characters(string3)
print(f"'{string1}' contains special characters:", result1)
print(f"'{string2}' contains special characters:", result2)
print(f"'{string3}' contains special characters:", result3)

'Hello, world!' contains special characters: True
'This is a test' contains special characters: False
'Special@Characters' contains special characters: True

48.Remove the nth word from a string

In [8]:
def remove_nth_word(input_string, n):
    words = input_string.split()
    if n >= 1 and n <= len(words):
        removed_word = words.pop(n - 1)
        modified_string = ' '.join(words)
        return modified_string, removed_word
    else:
        return None, None
input_str = "This is data science class for python."
n_value = 4
modified_str, removed_word = remove_nth_word(input_str, n_value)
print("Original string:", input_str)
if modified_str is not None:
    print("Modified string:", modified_str)
    print("Removed word:", removed_word)
else:
    print("Invalid n value.")

Original string: This is data science class for python.
Modified string: This is data class for python.
Removed word: science

49.Insert a word at the nth position in a string

In [13]:
s13 = "I am  Pinglay"
string = s13[:5] + "Prajakta" + s13[5:]
print(string)

I am Prajakta Pinglay

50.Convert a CSV string to a list of lists

In [9]:
def csv_string_to_list(csv_string):
    lines = csv_string.split('\n')
    result = []
    for line in lines:
        fields = line.split(',')
        result.append(fields)
    return result
csv_data = "Name, Age, Country\nJohn, 25, USA\nAlice, 30, Canada\nBob, 22, UK"
list_of_lists = csv_string_to_list(csv_data)
for row in list_of_lists:
    print(row)

['Name', ' Age', ' Country']
['John', ' 25', ' USA']
['Alice', ' 30', ' Canada']
['Bob', ' 22', ' UK']

List Based Practice Problem

1.Create a list with integers from 1 to 10

In [2]:
l1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [15]:
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [17]:
l1 = [i for i in range(0, 11)]
print(l1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2.Length of a list without using the `len()` function

In [23]:
l1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
def custom_len(l1):
    count = 0
    for _ in l1:
        count += 1
    return count
print(custom_len(l1))

10

3.Append an element to the end of a list

In [3]:
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
l1.append(50)

In [5]:
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 50]

4.Insert an element at a specific index in a list

In [6]:
l1.insert(3, 15)

In [7]:
l1

[1, 2, 3, 15, 4, 5, 6, 7, 8, 9, 10, 50]

5.Remove an element from a list by its value

In [10]:
l1.remove(4)

In [11]:
l1

[1, 2, 3, 15, 6, 7, 8, 9, 10, 50]

6.Remove an element from a list by its index.

In [12]:
l1.pop(5)

7

In [13]:
l1

[1, 2, 3, 15, 6, 8, 9, 10, 50]

7.Check if an element exists in a list

In [15]:
l1 = [1, 2, 3, 15, 6, 8, 9, 10, 50]
i = 15
if i in l1:
    print("exists")
else:
    print("not exists")

exists

8.Find the index of the first occurrence of an element in a list

In [17]:
l2 = [15, 17, 20, 15, 21, 25, 17, 17]
l2.index(17)

1

9.Count the occurrences of an element in a list.

In [18]:
l2.count(17)

3

10.Reverse the order of elements in a list.

In [19]:
l2.reverse()

In [20]:
l2

[17, 17, 25, 21, 15, 20, 17, 15]

11.Sort a list in ascending order

In [21]:
l2.sort()

In [22]:
l2

[15, 15, 17, 17, 17, 20, 21, 25]

12.Sort a list in descending order

In [23]:
l2.sort(reverse=True)

In [24]:
l2

[25, 21, 20, 17, 17, 17, 15, 15]

13.Create a list of even numbers from 1 to 20

In [25]:
even_numbers = [x for x in range(2, 21, 2)]
print("List of even numbers:", even_numbers)

List of even numbers: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14.Create a list of odd numbers from 1 to 20

In [26]:
odd_numbers = [x for x in range(1, 20, 2)]
print("List of odd numbers:", odd_numbers)

List of odd numbers: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15.Find the sum of all elements in a list

In [27]:
sum(l2)

147

16.Find the maximum value in a list

In [28]:
max(l2)

25

17.Find the minimum value in a list

In [29]:
min(l2)

15

18.Create a list of squares of numbers from 1 to 10

In [30]:
squares = [x ** 2 for x in range(1, 11)]
print("List of squares:", squares)

List of squares: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19.Create a list of random numbers

In [31]:
import random
random_integers = [random.randint(1, 100) for _ in range(10)]
print("List of random integers:", random_integers)

List of random integers: [34, 3, 74, 57, 48, 43, 74, 75, 88, 58]

20.Remove duplicates from a list

In [32]:
list(set(l2))

[15, 17, 20, 21, 25]

21.Find the common elements between two lists

In [33]:
a = [12, 15, 17, 18, 20]
b = [11, 12, 13, 15, 16]
def common_member(a, b):
    result = [i for i in a if i in b]
    return result
print("common elements:", common_member(a,b))

common elements: [12, 15]

22.Find the difference between two lists

In [2]:
a = [12, 15, 17, 18, 20]
b = [11, 12, 13, 15, 16]

list(set(a).difference(b))

[17, 18, 20]

23. Merge two lists

In [3]:
a = [12, 15, 17, 18, 20]
b = [11, 12, 13, 15, 16]
a + b

[12, 15, 17, 18, 20, 11, 12, 13, 15, 16]

24.Multiply all elements in a list by 2

In [6]:
a = [12, 15, 17, 18, 20]
multiplied_list = [x * 2 for x in a]
print(multiplied_list)

[24, 30, 34, 36, 40]

25.Filter out all even numbers from a list

In [8]:
def even(x):
    return x % 2 == 0
b = [11, 12, 13, 15, 16]
result = filter(even, b)
print(list(result))

[12, 16]

26.Convert a list of strings to a list of integers

In [9]:
c = ["10", "20", "30", "40", "50"]
integer_list = [int(x) for x in c]
print("List of integers:", integer_list)

List of integers: [10, 20, 30, 40, 50]

27. Convert a list of integers to a list of strings

In [10]:
b = [11, 12, 13, 15, 16]
string_list = [str(x) for x in b]
print(string_list)

['11', '12', '13', '15', '16']

28.Flatten a nested list

In [11]:
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]
def flatten_list(nested):
    flattened = []
    for sublist in nested:
        if isinstance(sublist, list):
            flattened.extend(flatten_list(sublist))
        else:
            flattened.append(sublist)
    return flattened
flattened_list = flatten_list(nested_list)
print("Flattened list:", flattened_list)

Flattened list: [1, 2, 3, 4, 5, 6, 7, 8, 9]

29. Create a list of the first 10 Fibonacci numbers

In [14]:
n_terms = int(input ("How many terms the user wants to print? "))  
# First two terms  
n_1 = 0  
n_2 = 1  
count = 0   
if n_terms <= 0:  
    print ("Please enter a positive integer, the given number is not valid")  
elif n_terms == 1:  
    print ("The Fibonacci sequence of the numbers up to", n_terms, ": ")  
    print(n_1)   
else:  
    print ("The fibonacci sequence of the numbers is:")  
    while count < n_terms:  
        print(n_1)  
        nth = n_1 + n_2   
        n_1 = n_2  
        n_2 = nth  
        count += 1

How many terms the user wants to print?  10

The fibonacci sequence of the numbers is:
0
1
1
2
3
5
8
13
21
34

30. Check if a list is sorted

In [16]:
def is_sorted_ascending(lst):
    for i in range(1, len(lst)):
        if lst[i] < lst[i - 1]:
            return False
    return True
d = [10, 20, 30, 40, 50]
if is_sorted_ascending(d):
    print("The list is sorted in ascending order.")
else:
    print("The list is not sorted in ascending order.")

The list is sorted in ascending order.

31. Rotate a list to the left by `n` positions

In [18]:
def rotate_left(lst, n):
    n = n % len(lst)  
    rotated = lst[n:] + lst[:n]
    return rotated
e = [4, 7, 15, 10, 14, 17]
n = 3
rotated_list = rotate_left(e, n)
print("Rotated list:", rotated_list)

Rotated list: [10, 14, 17, 4, 7, 15]

32. Rotate a list to the right by `n` positions

In [20]:
def rotate_right(lst, n):
    n = n % len(lst)  
    rotated = lst[-n:] + lst[:-n]
    return rotated
e = [4, 7, 15, 10, 14, 17]
n = 3
rotated_list = rotate_right(e, n)
print("Rotated list:", rotated_list)

Rotated list: [10, 14, 17, 4, 7, 15]

33.Create a list of prime numbers up to 50

In [26]:
def prime_numbers(n):
    primes = []
    for i in range(2, n + 1):
        for j in range(2, int(i ** 0.5) + 1):
            if i%j == 0:
                break
        else:
            primes.append(i)
    return primes

prime_list = prime_numbers(50)
print(prime_list)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

34.Split a list into chunks of size `n`

In [28]:
def split(list_a, chunk_size):
    for i in range(0, len(list_a), chunk_size):
        yield list_a[i:i + chunk_size]
chunk_size = 3
my_list = [1,2,3,4,5,6,7,8,9]
print(list(split(my_list, chunk_size)))

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

35.Find the second largest number in a list

In [29]:
e = [10, 35, 20, 15, 30, 25]
sorted_list = sorted(set(e))
if len(sorted_list) >= 2:
    second_largest = sorted_list[-2]
    print("Second largest number:", second_largest)
else:
    print("The list does not contain enough elements.")

Second largest number: 30

36.Replace every element in a list with its square

In [33]:
e = [10, 35, 20, 15, 30, 25]
squared_list = [x ** 2 for x in e]
print(squared_list)

[100, 1225, 400, 225, 900, 625]

37.Convert a list to a dictionary where list elements become keys and their
indices become values

In [34]:
f = ['priti', 'bhushan', 'chetan', 'diksha', 'eshy']
my_dict = {element: index for index, element in enumerate(f)}
print(my_dict)

{'priti': 0, 'bhushan': 1, 'chetan': 2, 'diksha': 3, 'eshy': 4}

38.Shuffle the elements of a list randomly

In [38]:
import random
f = ['priti', 'bhushan', 'chetan', 'diksha', 'eshy']
random.shuffle(f)
print(f)

['chetan', 'priti', 'bhushan', 'eshy', 'diksha']

39.Create a list of the first 10 factorial numbers

In [39]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)
factorial_numbers = [factorial(i) for i in range(10)]
print("List of the first 10 factorial numbers:", factorial_numbers)

List of the first 10 factorial numbers: [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

40.Check if two lists have at least one element in common

In [41]:
def has_common_element(list1, list2):
    for item in list1:
        if item in list2:
            return True
    return False
list1 = [1, 2, 3, 9, 12]
list2 = [4, 5, 6, 7, 8]
if has_common_element(list1, list2):
    print("The lists have at least one common element.")
else:
    print("The lists do not have any common elements.")

The lists do not have any common elements.

41.Remove all elements from a list

In [43]:
f = ['priti', 'bhushan', 'chetan', 'diksha', 'eshy']
f.clear()
print(f)

[]

42.Replace negative numbers in a list with 0

In [45]:
my_list = [10, -5, 20, -15, 30, -25]
for i in range(len(my_list)):
    if my_list[i] < 0:
        my_list[i] = 0
print(my_list)

[10, 0, 20, 0, 30, 0]

43.Convert a string into a list of words

In [49]:
my_string = "Hello, this is a sample sentence."
word_list = my_string.split()
print("List of words:", word_list)

List of words: ['Hello,', 'this', 'is', 'a', 'sample', 'sentence.']

44.Convert a list of words into a string

In [50]:
word_list = ["Hello,", "this", "is", "a", "sample", "sentence."]
my_string = " ".join(word_list)
print("Converted string:", my_string)

Converted string: Hello, this is a sample sentence.

45.Create a list of the first `n` powers of 2

In [51]:
n = 5
power_list = [2 ** i for i in range(n)]
print("List of the first", n, "powers of 2:", power_list)

List of the first 5 powers of 2: [1, 2, 4, 8, 16]

46.Find the longest string in a list of strings

In [52]:
string_list = ["Hello,", "this", "is", "a", "sample", "sentence."]
longest_string = ""
for s in string_list:
    if len(s) > len(longest_string):
        longest_string = s
print("Longest string:", longest_string)

Longest string: sentence.

47.Find the shortest string in a list of strings

In [54]:
string_list = ["Hello,", "this", "is", "a", "sample", "sentence."]
shortest_string = string_list[0]
for s in string_list:
    if len(s) < len(shortest_string):
        shortest_string = s
print("shortest string:", shortest_string)

shortest string: a

48.Create a list of the first `n` triangular numbers

In [55]:
def triangular_numbers(n):
    return [i * (i + 1) // 2 for i in range(1, n + 1)]
n = 5
triangular_list = triangular_numbers(n)
print("List of the first", n, "triangular numbers:", triangular_list)

List of the first 5 triangular numbers: [1, 3, 6, 10, 15]

49.Check if a list contains another list as a subsequence

In [57]:
def is_subsequence(subsequence, main_list):
    subseq_index = 0 
    for element in main_list:
        if element == subsequence[subseq_index]:
            subseq_index += 1
            if subseq_index == len(subsequence):
                return True
    return False
main_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
subsequence = [11, 5, 8]
if is_subsequence(subsequence, main_list):
    print("Main list contains the subsequence.")
else:
    print("Main list does not contain the subsequence.")

Main list does not contain the subsequence.

50.Swap two elements in a list by their indices

In [58]:
my_list = [1, 2, 3, 4, 5]
index1 = 1
index2 = 3
temp = my_list[index1]
my_list[index1] = my_list[index2]
my_list[index2] = temp
print("List after swapping elements:", my_list)

List after swapping elements: [1, 4, 3, 2, 5]

Tuple Based Practice Problem

1.Create a tuple with integers from 1 to 5

In [68]:
t = (1, 2, 3, 4, 5)

In [65]:
t

(1, 2, 3, 4, 5)

2.Access the third element of a tuple

In [66]:
t[2]

3

3.Find the length of a tuple without using the `len()` function

In [73]:
t = (1, 2, 3, 4, 5)
count = 0
for _ in t:
    count += 1
print(count)

5

4.Count the occurrences of an element in a tuple

In [74]:
my_tuple = (10, 20, 30, 20, 40, 50, 20)
element_to_count = 20
count = 0
for item in my_tuple:
    if item == element_to_count:
        count += 1
print(f"The element {element_to_count} appears {count} times in the tuple.")

The element 20 appears 3 times in the tuple.

5.Find the index of the first occurrence of an element in a tuple

In [75]:
my_tuple = (10, 20, 30, 20, 40, 50)
element_to_find = 20
index = -1  
for i, item in enumerate(my_tuple):
    if item == element_to_find:
        index = i
        break  
if index != -1:
    print(f"The first occurrence of {element_to_find} is at index {index}.")
else:
    print(f"{element_to_find} is not found in the tuple.")

The first occurrence of 20 is at index 1.

6.Check if an element exists in a tuple

In [76]:
my_tuple = (10, 20, 30, 40, 50)
element_to_check = 30
if element_to_check in my_tuple:
    print(f"{element_to_check} exists in the tuple.")
else:
    print(f"{element_to_check} does not exist in the tuple.")

30 exists in the tuple.

7.Convert a tuple to a list

In [2]:
t2 = (12, 15, 11, 17, 20)
print(list(t2))

[12, 15, 11, 17, 20]

8.Convert a list to a tuple

In [3]:
l1 = [27, 24, 35, 12, 19]
print(tuple(l1))

(27, 24, 35, 12, 19)

9.Unpack the elements of a tuple into variables

In [6]:
t2 = (12, 15, 11, 17, 20)
var1, var2, var3, var4, var5 = t2
print("var1:", var1)
print("var2:", var2)
print("var3:", var3)
print("var4:", var4)
print("var5:", var5)

var1: 12
var2: 15
var3: 11
var4: 17
var5: 20

10.Create a tuple of even numbers from 1 to 10

In [7]:
even_numbers_list = [num for num in range(2, 11, 2)] 
even_numbers_tuple = tuple(even_numbers_list)
print("Tuple of even numbers:", even_numbers_tuple)

Tuple of even numbers: (2, 4, 6, 8, 10)

11.Create a tuple of odd numbers from 1 to 10

In [8]:
odd_numbers_list = [num for num in range(1, 10, 2)] 
odd_numbers_tuple = tuple(odd_numbers_list)
print("Tuple of odd numbers:", odd_numbers_tuple)

Tuple of odd numbers: (1, 3, 5, 7, 9)

12.Concatenate two tuples

In [9]:
t3 = (2, 4, 6, 8, 10)
t4 = (1, 3, 5, 7, 9)
t3 + t4

(2, 4, 6, 8, 10, 1, 3, 5, 7, 9)

13.Repeat a tuple three times

In [10]:
t3*3

(2, 4, 6, 8, 10, 2, 4, 6, 8, 10, 2, 4, 6, 8, 10)

14.Check if a tuple is empty

In [11]:
empty_tuple = ()
non_empty_tuple = (1, 2, 3)
if not empty_tuple:
    print("The empty_tuple is empty.")
else:
    print("The empty_tuple is not empty.")

if not non_empty_tuple:
    print("The non_empty_tuple is empty.")
else:
    print("The non_empty_tuple is not empty.")

The empty_tuple is empty.
The non_empty_tuple is not empty.

15.Create a nested tuple

In [12]:
t5 = ((1, 2, 3), ('a', 'b', 'c'), (True, False))
print(t5)

((1, 2, 3), ('a', 'b', 'c'), (True, False))

16.Access the first element of a nested tuple

In [14]:
print((t5)[0])

(1, 2, 3)

17.Create a tuple with a single element

In [15]:
t6 = (15)
print(t6)

15

18.Compare two tuples

In [16]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)
print("tuple1 == tuple2:", tuple1 == tuple2) 
print("tuple1 != tuple2:", tuple1 != tuple2)  
print("tuple1 < tuple2:", tuple1 < tuple2)   
print("tuple1 <= tuple2:", tuple1 <= tuple2)  
print("tuple1 > tuple2:", tuple1 > tuple2)    
print("tuple1 >= tuple2:", tuple1 >= tuple2)

tuple1 == tuple2: False
tuple1 != tuple2: True
tuple1 < tuple2: True
tuple1 <= tuple2: True
tuple1 > tuple2: False
tuple1 >= tuple2: False

19.Delete a tuple

In [20]:
t8 = (10, 20, 30)
del t8
print(t8)

NameError: name 't8' is not defined

20.Slice a tuple

In [21]:
t9 = (5, 10, 15, 20, 25, 30, 35, 40)
print((t9)[2:5])

(15, 20, 25)

21.Find the maximum value in a tuple

In [22]:
max(t9)

40

22.Find the minimum value in a tuple

In [23]:
min(t9)

5

23.Convert a string to a tuple of characters

In [24]:
string = "Data science"
print(tuple(string))

('D', 'a', 't', 'a', ' ', 's', 'c', 'i', 'e', 'n', 'c', 'e')

24.Convert a tuple of characters to a string

In [26]:
t10 = ("p", "r", "a", "j", "a", "k", "t", "a")
print("".join(t10))

prajakta

25.Create a tuple from multiple data types

In [27]:
t11 = (5, 10.2, "hi", False)
print(t11)

(5, 10.2, 'hi', False)

26.Check if two tuples are identical

In [28]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
tuple3 = (4, 5, 6)
are_identical1 = tuple1 == tuple2
are_identical2 = tuple1 == tuple3
print("tuple1 and tuple2 are identical:", are_identical1)
print("tuple1 and tuple3 are identical:", are_identical2)

tuple1 and tuple2 are identical: True
tuple1 and tuple3 are identical: False

27.Sort the elements of a tuple

In [32]:
t12 = (45, 21, 31, 10, 82, 50)
print(tuple(sorted(list(t12))))

(10, 21, 31, 45, 50, 82)

28.Convert a tuple of integers to a tuple of strings

In [34]:
t12 = (45, 21, 31, 10, 82, 50)
print(tuple(str(item)for item in t12))

('45', '21', '31', '10', '82', '50')

29.Convert a tuple of strings to a tuple of integers

In [35]:
t13 = ("16", "13", "71", "83")
print(tuple(int(item)for item in t13))

(16, 13, 71, 83)

30.Merge two tuples

In [36]:
t14 = (1, 6, 8, 10)
t15 = (3, 5, 7, 9)
t14 + t15

(1, 6, 8, 10, 3, 5, 7, 9)

31.Flatten a nested tuple

In [37]:
def flatten_tuple(nested_tuple):
    flattened = []
    for item in nested_tuple:
        if isinstance(item, tuple):
            flattened.extend(flatten_tuple(item))
        else:
            flattened.append(item)
    return flattened
nested_tuple = ((1, 2), (3, 4, 5), (6, (7, 8)))
flattened_tuple = tuple(flatten_tuple(nested_tuple))
print("Flattened tuple:", flattened_tuple)

Flattened tuple: (1, 2, 3, 4, 5, 6, 7, 8)

32.Create a tuple of the first 5 prime numbers

In [38]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True
prime_numbers_list = [num for num in range(2, 100) if is_prime(num)][:5]
prime_numbers_tuple = tuple(prime_numbers_list)
print("Tuple of the first 5 prime numbers:", prime_numbers_tuple)

Tuple of the first 5 prime numbers: (2, 3, 5, 7, 11)

33.Check if a tuple is a palindrome

In [39]:
def is_palindrome(tup):
    return tup == tup[::-1]
palindrome_tuple = (1, 2, 3, 2, 1)
non_palindrome_tuple = (1, 2, 3, 4, 5)
is_palindrome1 = is_palindrome(palindrome_tuple)
is_palindrome2 = is_palindrome(non_palindrome_tuple)
print("palindrome_tuple is a palindrome:", is_palindrome1)
print("non_palindrome_tuple is a palindrome:", is_palindrome2)

palindrome_tuple is a palindrome: True
non_palindrome_tuple is a palindrome: False

34.Create a tuple of squares of numbers from 1 to 5

In [40]:
squares_tuple = tuple(x ** 2 for x in range(1, 6))
print(squares_tuple)

(1, 4, 9, 16, 25)

35.Filter out all even numbers from a tuple

In [42]:
original_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
filtered_tuple = tuple(num for num in original_tuple if num % 2 != 0)
print("Filtered tuple:", filtered_tuple)

Filtered tuple: (1, 3, 5, 7, 9)

36.Multiply all elements in a tuple by 2

In [43]:
t15 = (5, 10, 30, 25)
print(tuple(num * 2 for num in t15))

(10, 20, 60, 50)

37.Create a tuple of random numbers

In [46]:
import random
t16 = tuple(random.randint(1, 100)for _ in range(10))
print(t16)

(50, 12, 7, 9, 12, 97, 74, 27, 24, 56)

38.Check if a tuple is sorted

In [48]:
def is_sorted(t16):
    for i in range(len(t16) - 1):
        if t16[i] > t16[i + 1]:
            return False
    return True
print(is_sorted(t16))

False

39.Rotate a tuple to the left by `n` positions

In [53]:
t16 = (50, 12, 7, 9, 12, 97, 74, 27, 24, 56)
n_positions = n = 2
def rotate_tuple_left(t16, n):
    n = n % len(t16)  
    rotated_tuple = t16[n:] + t16[:n] 
    return rotated_tuple
print(rotate_tuple_left(t16, n))

(7, 9, 12, 97, 74, 27, 24, 56, 50, 12)

40.Rotate a tuple to the right by `n` positions

In [54]:
n_positions = n = 4
def rotate_tuple_right(t16, n):
    n = n % len(t16)  
    rotated_tuple = t16[-n:] + t16[:-n] 
    return rotated_tuple
print(rotate_tuple_right(t16, n))

(74, 27, 24, 56, 50, 12, 7, 9, 12, 97)

41.Create a tuple of the first 5 Fibonacci numbers

In [56]:
def generate_fibonacci(n):
    fibonacci = [0, 1]  
    while len(fibonacci) < n:  
        next_number = fibonacci[-1] + fibonacci[-2]  
        fibonacci.append(next_number)  
    return tuple(fibonacci)
n = 5
print(generate_fibonacci(n))

(0, 1, 1, 2, 3)

42.Create a tuple from user input

In [58]:
input_str = input("Enter elements separated by commas: ")
input_list = input_str.split(',')
user_tuple = tuple(input_list)
print("User input tuple:", user_tuple)

Enter elements separated by commas:  p, r, a, j, a, k, t, a

User input tuple: ('p', ' r', ' a', ' j', ' a', ' k', ' t', ' a')

43.Swap two elements in a tuple

In [60]:
my_tuple = (1, 2, 3, 4, 5)
index1 = 1
index2 = 3
swapped_tuple = tuple(
    my_tuple[i] if i not in (index1, index2) else
    my_tuple[index2] if i == index1 else
    my_tuple[index1]
    for i in range(len(my_tuple)))
print("Swapped tuple:", swapped_tuple)

Swapped tuple: (1, 4, 3, 2, 5)

In [ ]:
44.Reverse the elements of a tuple

In [62]:
t20 = (1, 2, 3, 4, 5)
print((t20)[::-1])

(5, 4, 3, 2, 1)

45.Create a tuple of the first `n` powers of 2

In [63]:
n = 5
powers_of_2_tuple = tuple(2 ** i for i in range(n))
print("Tuple of the first", n, "powers of 2:", powers_of_2_tuple)

Tuple of the first 5 powers of 2: (1, 2, 4, 8, 16)

46.Find the longest string in a tuple of strings

In [65]:
string_tuple = ("apple", "banana", "grape", "kiwi", "watermelon")
print(max(string_tuple, key=len))

watermelon

47.Find the shortest string in a tuple of strings

In [66]:
string_tuple = ("apple", "banana", "grape", "kiwi", "watermelon")
print(min(string_tuple, key=len))

kiwi

48.Create a tuple of the first `n` triangular numbers

In [67]:
n = 5
triangular_numbers_tuple = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))
print("Tuple of the first", n, "triangular numbers:", triangular_numbers_tuple)

Tuple of the first 5 triangular numbers: (1, 3, 6, 10, 15)

49.Check if a tuple contains another tuple as a subsequence

In [68]:
def contains_subsequence(main_tuple, sub_tuple):
    sub_length = len(sub_tuple)
    for i in range(len(main_tuple) - sub_length + 1):
        if main_tuple[i:i+sub_length] == sub_tuple:
            return True
    return False
main_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)
sub_tuple = (3, 4, 5)
contains_subseq = contains_subsequence(main_tuple, sub_tuple)
print("Main tuple contains subsequence tuple:", contains_subseq)

Main tuple contains subsequence tuple: True

50.Create a tuple of alternating 1s and 0s of length `n`

In [69]:
n = 10
alternating_tuple = tuple(i % 2 for i in range(n))
print("Tuple of alternating 1s and 0s:", alternating_tuple)

Tuple of alternating 1s and 0s: (0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

Set Based Practice Problem

1.Create a set with integers from 1 to 5

In [72]:
s1 = set()
s1.add(1)
s1.add(2)
s1.add(3)
s1.add(4)
print(s1)

{1, 2, 3, 4}

2.Add an element to a set

In [73]:
s1.add(5)
print(s1)

{1, 2, 3, 4, 5}

In [ ]:
3.Remove an element from a set

In [81]:
s2 = {8, 4, 7, 5, 9}
s2.remove(4)
print(s2)

{5, 7, 8, 9}

4.Check if an element exists in a set

In [83]:
my_set = {1, 3, 5, 7, 9}
element_to_check = int(input("Enter the element to check: "))
if element_to_check in my_set:
    print(f"{element_to_check} exists in the set.")
else:
    print(f"{element_to_check} does not exist in the set.")

Enter the element to check:  5

5 exists in the set.

5.Find the length of a set without using the `len()` function

In [1]:
my_set = {1, 2, 3, 4, 5}
count = 0
for _ in my_set:
    count += 1
print("Length of the set:", count)

Length of the set: 5

6.Clear all elements from a set

In [3]:
s3 = {41, 12, 24, 15, 34}
s3.clear()
print(s3)

set()

7.Create a set of even numbers from 1 to 10

In [4]:
even_number = set()
for num in range(1, 11):
    if num % 2 == 0:
        even_number.add(num)
print(even_number)

{2, 4, 6, 8, 10}

8.Create a set of odd numbers from 1 to 10

In [5]:
odd_number = set()
for num in range(1, 10):
    if num % 2 != 0:
        odd_number.add(num)
print(odd_number)

{1, 3, 5, 7, 9}

In [ ]:
9.Find the union of two sets

In [6]:
s4 = {5, 10, 15, 20, 25, 30}
s5 = {7, 12, 17, 22, 27, 32}
print(s4.union(s5))

{32, 5, 7, 10, 12, 15, 17, 20, 22, 25, 27, 30}

10.Find the intersection of two sets

In [7]:
s6 = {12, 15, 10, 22, 20}
s7 = {10, 15, 20, 25, 30}
print(s6.intersection(s7))

{10, 20, 15}

11.Find the difference between two sets

In [8]:
s6 = {12, 15, 10, 22, 20}
s7 = {10, 15, 20, 25, 30}
print(s6.difference(s7))

{12, 22}

12.Check if a set is a subset of another set

In [9]:
s8 = {1, 4, 8}
s9 = {5, 10, 4, 6, 1, 8}
is_subset = s8.issubset(s9)
print(is_subset)

True

13.Check if a set is a superset of another set

In [12]:
s8 = {1, 4, 8}
s9 = {5, 10, 4, 6, 1, 8}
is_superset = s9.issuperset(s8)
print("s9 is superset of s8:", is_superset)

s9 is superset of s8: True

14.Create a set from a list

In [32]:
my_list = [2, 4, 1, 4, 3, 2, 5]
my_set = set(my_list)
print("Original List:", my_list)
print("Set from List:", my_set)

Original List: [2, 4, 1, 4, 3, 2, 5]
Set from List: {1, 2, 3, 4, 5}

15.Convert a set to a list

In [1]:
my_set = {3, 1, 4, 1, 5, 9, 2, 6, 5}
my_list = list(my_set)
print("Original Set:", my_set)
print("Converted List:", my_list)

Original Set: {1, 2, 3, 4, 5, 6, 9}
Converted List: [1, 2, 3, 4, 5, 6, 9]

16.Remove a random element from a set

In [2]:
import random 
my_set = {1, 2, 3, 4, 5}
print("Original set:", my_set)
random_element = random.choice(list(my_set))
my_set.remove(random_element)
print("Updated set after removing", random_element, ":", my_set)

Original set: {1, 2, 3, 4, 5}
Updated set after removing 1 : {2, 3, 4, 5}

17.Pop an element from a set

In [26]:
s10 = {3, 5 ,10, 7}
s10.pop()
print(s10)

{3, 5, 7}

18.Check if two sets have no elements in common

In [6]:
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}
common_elements = set1.intersection(set2)
if not common_elements:
    print("two sets have no common elements")
else:
    print("two sets have common elements:", common_elements)

two sets have no common elements

19.Find the symmetric difference between two sets

In [7]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
print(set1 ^ set2)

{1, 2, 3, 6, 7, 8}

20.Update a set with elements from another set

In [12]:
s21 = {1, 2, 5, 9}
s22 = {5, 7, 8, 10}
s21.update(s22)
print("updated set21:", s21)

updated set21: {1, 2, 5, 7, 8, 9, 10}

21.Create a set of the first 5 prime numbers

In [13]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True
prime_set = set()
num = 2
while len(prime_set) < 5:
    if is_prime(num):
        prime_set.add(num)
    num += 1
print("Set of the first 5 prime numbers:", prime_set)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

22.Check if two sets are identical

In [14]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 1, 5, 2, 4} 
if set1 == set2:
    print("The sets are identical.")
else:
    print("The sets are not identical.")

The sets are identical.

23.Create a frozen set

In [15]:
elements = [1, 2, 3, 4, 5]
print(frozenset(elements))

frozenset({1, 2, 3, 4, 5})

24.Check if a set is disjoint with another set

In [16]:
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}
disjoint_status = set1.isdisjoint(set2)
print("Are the sets disjoint?", disjoint_status)

Are the sets disjoint? True

25.Create a set of squares of numbers from 1 to 5

In [17]:
squares_set = set()
for num in range(1, 6):
    square = num ** 2
    squares_set.add(square)
print(squares_set)

{1, 4, 9, 16, 25}

26.Filter out all even numbers from a set

In [18]:
original_set = {1, 2, 3, 4, 5}
even_numbers_set = set()
for num in original_set:
    if num % 2 == 0:
        even_numbers_set.add(num)
print("Original Set:", original_set)
print("Even Numbers Set:", even_numbers_set)

Original Set: {1, 2, 3, 4, 5}
Even Numbers Set: {2, 4}

27.Multiply all elements in a set by 2

In [19]:
original_set = {1, 2, 3, 4, 5}
multiplied_set = set()
for num in original_set:
    multiplied_num = num * 2
    multiplied_set.add(multiplied_num)
print("Original Set:", original_set)
print("Multiplied Set:", multiplied_set)

Original Set: {1, 2, 3, 4, 5}
Multiplied Set: {2, 4, 6, 8, 10}

28.Create a set of random numbers

In [20]:
import random
num_random_numbers = 5
random_number_set = set()
for _ in range(num_random_numbers):
    random_num = random.randint(1, 100) 
    random_number_set.add(random_num)
print("Generated set of random numbers:", random_number_set)

Generated set of random numbers: {97, 39, 81, 50, 94}

29.Check if a set is empty

In [21]:
my_set = set()
if not my_set:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is empty.

30.Create a nested set

In [22]:
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}
frozen_set1 = frozenset(set1)
frozen_set2 = frozenset(set2)
nested_set = {frozen_set1, frozen_set2}
print("Nested Set:", nested_set)

Nested Set: {frozenset({1, 2, 3, 4, 5}), frozenset({6, 7, 8, 9, 10})}

31.Remove an element from a set using the discard method

In [23]:
my_set = {1, 2, 3, 4, 5}
my_set.discard(4)
print(my_set)

{1, 2, 3, 5}

32.Compare two sets

In [24]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
is_subset = set1.issubset(set2)
is_superset = set1.issuperset(set2)
intersection = set1.intersection(set2)
union = set1.union(set2)
difference1 = set1.difference(set2)
difference2 = set2.difference(set1)
print("Set 1:", set1)
print("Set 2:", set2)
print("Is set1 a subset of set2?", is_subset)
print("Is set2 a subset of set1?", is_superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Is set1 a subset of set2? False
Is set2 a subset of set1? False
Intersection: {4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Elements in set1 but not in set2: {1, 2, 3}
Elements in set2 but not in set1: {8, 6, 7}

33.Create a set from a string

In [25]:
s24 = "hello"
char_set = set(s24)
print(char_set)

{'o', 'e', 'h', 'l'}

34.Convert a set of strings to a set of integers

In [26]:
string_set = {"123", "456", "789"}
integer_set = set()
for string in string_set:
    integer_value = int(string)
    integer_set.add(integer_value)
print("Original String Set:", string_set)
print("Converted Integer Set:", integer_set)

Original String Set: {'123', '789', '456'}
Converted Integer Set: {456, 123, 789}

35.Convert a set of integers to a set of strings

In [27]:
integers_set = {1, 2, 3, 4, 5}
strings_set = set()
for num in integers_set:
    num_str = str(num)
    strings_set.add(num_str)
print("Original integers_set:", integers_set)
print("Converted strings_set:", strings_set)

Original integers_set: {1, 2, 3, 4, 5}
Converted strings_set: {'3', '2', '5', '4', '1'}

36.Create a set from a tuple

In [29]:
t56 = (1, 3, 8, 71, 56, 12)
print(set(t56))

{1, 3, 71, 8, 12, 56}

37.Convert a set to a tuple

In [30]:
s56 = {2, 4, 8, 10, 12}
print(tuple(s56))

(2, 4, 8, 10, 12)

38.Find the maximum value in a set

In [31]:
print(max(s56))

12

39.Find the minimum value in a set

In [32]:
print(min(s56))

2

40.Create a set from user input

In [33]:
user_set = set()
print("Enter elements for the set (type 'done' to finish):")
while True:
    user_input = input("> ") 
    if user_input.lower() == 'done':
        break  
    user_set.add(user_input)
print("Final set:", user_set)

Enter elements for the set (type 'done' to finish):

>  12, 13, 14, 15, 16 done
>  17
>  18
>  done

Final set: {'17', '12, 13, 14, 15, 16 done', '18'}

41.Check if the intersection of two sets is empty

In [34]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
intersection_result = set1.intersection(set2)
if not intersection_result:
    print("The intersection of the two sets is empty.")
else:
    print("The intersection of the two sets is not empty.")

The intersection of the two sets is not empty.

42.Create a set of the first 5 Fibonacci numbers

In [35]:
fibonacci_set = set()
a, b = 0, 1
for _ in range(6):
    fibonacci_set.add(a)
    a, b = b, a + b
print("Set of the first 5 Fibonacci numbers:", fibonacci_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3, 5}

43.Remove duplicates from a list using sets

In [36]:
original_list = [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]
unique_set = set(original_list)
unique_list = list(unique_set)
print("Original List:", original_list)
print("List with Duplicates Removed:", unique_list)

Original List: [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]
List with Duplicates Removed: [2, 4, 6, 8, 10, 12, 14]

44.Check if two sets have the same elements, regardless of their count

In [37]:
def have_same_elements(set1, set2):
    sorted_list1 = sorted(list(set1))
    sorted_list2 = sorted(list(set2))
    return sorted_list1 == sorted_list2
set1 = {1, 2, 3, 2, 1}
set2 = {3, 1, 2}
result = have_same_elements(set1, set2)
if result:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

The sets have the same elements.

45.Create a set of the first `n` powers of 2

In [38]:
def generate_powers_of_2(n):
    powers_of_2 = set()
    for i in range(n):
        power = 2 ** i
        powers_of_2.add(power)
    return powers_of_2
n = 5
powers_set = generate_powers_of_2(n)
print(powers_set)

{1, 2, 4, 8, 16}

46.Find the common elements between a set and a list

In [39]:
my_set = {3, 7, 9, 12, 15}
my_list = [7, 12, 5, 9]
list_to_set = set(my_list)
common_elements = []
for element in my_set:
    if element in list_to_set:
        common_elements.append(element)
print("Common elements:", common_elements)

Common elements: [7, 9, 12]

47.Create a set of the first `n` triangular numbers

In [40]:
def generate_triangular_numbers(n):
    triangular_numbers = set()
    for i in range(1, n + 1):
        triangular_number = i * (i + 1) // 2 
        triangular_numbers.add(triangular_number)  
    return triangular_numbers
n = int(input("Enter the value of n: "))
triangular_set = generate_triangular_numbers(n)
print(f"The set of the first {n} triangular numbers is:", triangular_set)

Enter the value of n:  10

The set of the first 10 triangular numbers is: {1, 3, 36, 6, 10, 45, 15, 21, 55, 28}

48.Check if a set contains another set as a subset

In [41]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4}
is_subset = set2.issubset(set1)
if is_subset:
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

49.Create a set of alternating 1s and 0s of length `n`

In [42]:
def create_alternating_set(n):
    alternating_set = set()
    for i in range(n):
        if i % 2 == 0:
            alternating_set.add(1)
        else:
            alternating_set.add(0) 
    return alternating_set
length_n = 10
result = create_alternating_set(length_n)
print(result)

{0, 1}

50.Merge multiple sets into one

In [43]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}
merged_set = set1.union(set2, set3)
print("Merged Set:", merged_set)

Merged Set: {1, 2, 3, 4, 5, 6, 7}